<!doctype html>
<html lang="en">

<head>
    {{>headerLink}}
    <title>JD Web Solution - Register page</title>
</head>

<body>

    {{>navbar}}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-12 mx-auto">
                <div class="profileDiv">
                    <div class="profileHeading">
                        <h1>Your Profile <span></span></h1>
                        <a href="/editprofile" id="editProfileBtn"><button class="btn"><i
                                    class="fa fa-pencil-square-o"></i> Edit
                                profile</button></a>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <img src="profileImages/{{imagename}}" id="userImage" class="img-circle" alt="User image">
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="userDetails">
                                <h2>{{username}}</h2>
                                <br>
                                <p> <strong> Email: </strong>{{useremail}}</p>
                                <p> <strong> Phone no: </strong> {{userphoneno}}</p>
                                {{!-- <p> <strong> Gender: </strong> {{usergender}}</p> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>